<div class="container" *ngIf="!loading">

    <app-title-bar></app-title-bar>

    <div *ngIf="error" class="row my-4">
        <div class="col-12">
            <div class="alert alert-danger text-center" role="alert">
                <div class="mt-2 mb-1">
                    <img src="./assets/images/warning.png">
                </div>
                <div class="mb-2">
                    An error has procuded when loading data!
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="!error">
        
        <div class="row">
            
            <div class="col-12 col-md-6 my-2">
                <app-booking-info [recordLocator]="bookingInfo.recordLocator" [status]="bookingInfo.status"></app-booking-info>
            </div>

            <div class="col-12 col-md-6 my-2">
                <app-passengers-list [passengers]="bookingInfo.passengers"></app-passengers-list>
            </div>

        </div>

        <div class="row">

            <div class="col-12 pb-1">
                <app-meal-chooser 
                    [locale]="bookingInfo.culture"
                    [journeys]="bookingInfo.journeys" 
                    [meals]="mealOptions"></app-meal-chooser>
            </div>

        </div>

    </ng-container>

</div>

<app-modal-container *ngIf="loading">
    <app-loading-spinner></app-loading-spinner>
    <div class="text-center text-white">Loading data...</div>
</app-modal-container>
